extends user-layout
block profile
	ul.nav.nav-pills#myTab
		li 
			a(href="#profile", data-toggle="tab") Profile
		li
			a(href="#lessons", data-toggle="tab") My Lessons
		li
			a(href="#requests", data-toggle="tab") Requests
		li
			a(href="#settings", data-toggle="tab") Settings
	#myTabContent.tab-content
		.tab-pane.fade#profile
			include includes/basicprofile
		.tab-pane.fade#lessons
			.row
				.span4.offset1
					h2 Lessons
					lessons = locals.lessons
					mixin format(lesson)
						lessonurl = '/lesson/' + lesson._id
						.row
							.box
								p lesson name: #{lesson.name}
								p student: #{lesson.studentUsername}
								p mentor: #{lesson.mentorUsername}
								a.button.btn(href=lessonurl) Go To Lesson
					- if(typeof locals.lessons!== 'undefined')
						-each lesson in lessons
							mixin format(lesson)
					- else
						p No Lessons
		.tab-pane.fade#requests
			.row
				requests = locals.user.requests

				.span4.offset1
					h2 Incoming Requests	
					mixin incoming(request)
						.row
							.box
								accepturl = '/acceptRequest/' + request._id
								rejecturl = '/rejectRequest/' +request._id
								p from: #{request.studentUsername}
								p message: #{request.text}
								p received on: #{request.requestDate}
								a.button.btn(href=accepturl) Accept Request
								a.button.btn(href=rejecturl) Reject Request
					- if(typeof requests!== 'undefined')
						-each request in requests
							-if(request.from !== locals.user.username) 
								mixin incoming(request)
				.span4
					h2 Pending Requests
					mixin pending(request)
						.row
							.box
								p to: #{request.mentorUsername}
								p message: #{request.text}
								p sent on: #{request.requestDate}
					- if(typeof requests!== 'undefined')
						-each request in requests 
							-if(request.from === locals.user.username) 
								mixin pending(request)
		.tab-pane.fade#settings
			.row
				.span6.offset1
					include includes/updateInfo
block request

block scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
	script(src="/javascript/tabs.js")